<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets>
    <target name="Console" xsi:type="Console" layout="${message}"/>
    <target name="ConsoleError" xsi:type="Console" error="true" layout="${message}${newline}${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="*" levels="Info,Warn" writeTo="Console" />
    <logger name="*" minlevel="Error" writeTo="ConsoleError" />
  </rules>

  <targets>
    <target name="Basic" xsi:type="File" fileName="${basedir}basic.log"/>
    <target name="Event" xsi:type="File" fileName="${basedir}event.log"
            layout="${longdate} ${message}"/>
    <target name="Error" xsi:type="File" fileName="${basedir}error.log"
            layout="${longdate} ${message}${newline}${exception:format=tostring}${newline}"/>
    <target name="Debug" xsi:type="File" fileName="${basedir}debug.log"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="Debug" final="true" enabled="false"/>
    <logger name="WebLog2SQL.File+Events" level="Info" writeTo="Event" final="true"/>
    <logger name="*" minlevel="Info" writeTo="Basic"/>
    <logger name="*" minlevel="Error" writeTo="Error"/>
  </rules>
</nlog>